body {
    padding-top: 10%;
    background: #eeeeee;
    z-index   : 3;
    font-family: Raleway, sans-serif !important;
}

.faq-heading {
    display       : block;
    font-family   : "Verlag-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align    : center;
    font-size     : 2em;
    line-height   : 1.25;
    letter-spacing: 0.1em;
    margin        : 0.4em 0;
    font-weight   : lighter;
    text-transform: uppercase;
    margin        : 0% 10% 5% 10%;
    border-bottom : 1px solid rgba(0, 0, 0, 0.2)
}

mat-panel-title {
    font-family: Raleway, sans-serif;
    font-weight: 600;
}

p {
    font-family: Raleway, sans-serif;
}

.faq-section {
    padding-bottom: 5%;
}