body {
    padding-top: 5%;
    position   : relative;
    color      : #000;
    font-family: Raleway, sans-serif;
    width      : 100%;
}

p {
    font-size  : 1rem;
    font-weight: 600;
}

.footer-made {
    float: right;
}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {}