body {
    padding-top: 5%;
    position: relative;
    color   : #000;
    font-family: Raleway,sans-serif;
}

p {
    font-size: 1rem;
    font-weight: 600;
}

.footer-made {
    text-align: right;
}