body {
    padding-top  : 5%;
    position     : relative;
    background   : #eeeeee;
    border-radius: 6px;
    height       : 100%;
    z-index      : 3;
}

.about_heading {
    font-family: "Verlag-Book","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    font-size: 2em;
    line-height: 1.25;
    letter-spacing: 0.3em;
    margin: 0.4em 0;
    font-weight: lighter;
    text-transform: uppercase;
}

.about_section {
    font-family: 'Raleway', sans-serif;
    padding-top: 10%;

    .about_section_one {

        img {
            height: 90%;
            width: 90%;
            border-radius: 6px;
            box-shadow   : 0 16px 24px 2px rgba(0, 0, 0, 0.2);
        }
    }

}