body {
    padding   : 10% 0% 1% 0%;
    background: #eeeeee;
    z-index   : 3;
}

.video-gameplay {
    display        : flex;
    justify-content: center;
    align-items    : center;

    iframe {
        width        : 50%;
        height       : 50vh;
        box-shadow   : 0 5px 15px 2px rgba(0, 0, 0, 0.2);
        border-radius: 6px;
    }
}

@media screen and (max-width: 767px) {

    .video-gameplay {

        iframe {
            width: 90%;
        }
    }
}

@media screen and (max-width: 575px) {

    .video-gameplay {

        iframe {
            width: 90%;
        }
    }
}