body {
    padding-top: 10%;
    position   : relative;
    background : #eeeeee;
    height     : 100%;
    z-index    : 3;
}

.team_heading {
    display: block;
    font-family   : "Verlag-Book", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align    : center;
    font-size     : 2em;
    line-height   : 1.25;
    letter-spacing: 0.3em;
    margin        : 0.4em 0;
    font-weight   : lighter;
    text-transform: uppercase;
    margin: 0% 10% 5% 10%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)
}

ul {
    padding-inline-start: 0px;

    .team-image {
        display    : inline-block;
        font-family: 'Merriweather', serif !important;
        width      : 200px !important;
        height     : 200px !important;
        margin-left: 2%;

        li {
            list-style: none;


            img {
                vertical-align: middle;
                width         : 200px !important;
                height        : 200px !important;
                border-radius : 50%;
            }

            h2 {
                font-family  : 'Merriweather', serif !important;
                font-weight  : bold;
                margin-top   : 28px;
                margin-bottom: 8px;
                color        : inherit;
                text-align   : center;
            }

            p {
                text-align: left;
            }
        }
    }
}